<ion-content class="ion-padding">
    <ion-row>
        <ion-col size="12" class="ion-align-self-left">
            <h1 id="title-cadastro">CADASTRAR</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-align-self-left">
            <p>Bem vindo ao Find van. <br>Ficamos felizes em te ajudar a encontrar o melhor caminho para seu destino.</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="ion-align-self-start">
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
            <ion-button style="margin-left: 55%;" id="open-modal" color="primary shade">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-align-self-center">
            <img id="img-van" src="../../assets/van-tela-cadastro.png" alt="">
        </ion-col>
    </ion-row>
    <!-- <ion-button id="open-modal" expand="block" color="success shade">Avançar</ion-button> -->
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="cancel()">Cancelar</ion-button>
                    </ion-buttons>
                    <ion-title class="ion-text-center" size="large">Cadastro</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="confirm()" [strong]="true">Confirma</ion-button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-title class="ion-text-center" size="large">Dados Basicos</ion-title>
            </ion-header>
            <ion-content class="ion-padding">
                <ion-item>
                    <ion-label position="stacked"> Digite seu Nome </ion-label>
                    <ion-input type="text" placeholder="Nome" [(ngModel)]="nome"></ion-input>

                    <ion-label position="stacked"> Email </ion-label>
                    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>

                    <ion-label position="stacked"> Senha </ion-label>
                    <ion-input [type]="password" [(ngModel)]="password" fill="solid" placeholder="Insira sua Senha"></ion-input>

                    <ion-label position="stacked"> Celular </ion-label>
                    <ion-input type="text" placeholder="Celular" [(ngModel)]="celular"></ion-input>

                    <ion-label position="stacked"> Endereço </ion-label>
                    <ion-input type="text" placeholder="Endereço"></ion-input>

                </ion-item>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>