<ion-content class="ion-padding">
    <ion-row>
        <ion-col size="12" class="ion-align-self-left">

            <ion-button style="margin-right: 55%; " [routerLink]="['/login']" color="dark shade">
            <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>

            <h1 id="title-cadastro">CADASTRAR</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-align-self-left">
            <p>Bem vindo ao Find van. <br>Ficamos felizes em te ajudar a encontrar o melhor caminho para seu destino.</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" class="ion-align-self-start">
        </ion-col>
        <ion-col size="6" class="ion-align-self-end">
            <ion-button style="margin-left: 55%;" id="cadastro-modal" (click)="openModal()" color="primary shade">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-align-self-center">
            <img id="img-van" src="../../assets/van-tela-cadastro.png" alt="">
        </ion-col>
    </ion-row>

</ion-content>