<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
                    <ion-label position="stacked"> Nome </ion-label>
                    <ion-input type="text" placeholder="Insira seu Nome" [(ngModel)]="usuario.nome"></ion-input>
                    <ion-label position="stacked"> Email </ion-label>
                    <ion-input type="text" placeholder="Insira seu Email" [(ngModel)]="usuario.email"></ion-input>
                    <ion-label position="stacked"> Senha </ion-label>
                    <ion-input [type]="password" [(ngModel)]="usuario.senha" fill="solid" placeholder="Insira sua Senha"></ion-input>
                    <ion-label position="stacked"> CPF </ion-label>
                    <ion-input type="number" fill="solid" placeholder="Informe seu CPF" [(ngModel)]="usuario.cpf"  maxlength="11" appIntegerInput inputmode="numeric"></ion-input>
                    <ion-label position="stacked"> Celular </ion-label>
                    <ion-input type="number" placeholder="Informe seu Celular" [(ngModel)]="celular" maxlength="11" appIntegerInput inputmode="numeric"></ion-input>
                    <ion-label position="stacked"> Rua </ion-label>
                    <ion-input type="text" placeholder="Rua" [(ngModel)]="endereco.rua"></ion-input>
                    <ion-label position="stacked"> Bairro </ion-label>
                    <ion-input type="text" placeholder="Bairro" [(ngModel)]="endereco.bairro"></ion-input>

                    <ion-label position="stacked"> Estado </ion-label>
                    <ion-select placeholder="Estado" [(ngModel)]="endereco.estado" id="estado"> 
                      <ion-select-option value="AC">Acre</ion-select-option>
                      <ion-select-option value="AL">Alagoas</ion-select-option>
                      <ion-select-option value="AP">Amapá</ion-select-option>
                      <ion-select-option value="AM">Amazonas</ion-select-option>
                      <ion-select-option value="BA">Bahia</ion-select-option>
                      <ion-select-option value="CE">Ceará</ion-select-option>
                      <ion-select-option value="DF">Distrito Federal</ion-select-option>
                      <ion-select-option value="ES">Espírito Santo</ion-select-option>
                      <ion-select-option value="GO">Goiás</ion-select-option>
                      <ion-select-option value="MA">Maranhão</ion-select-option>
                      <ion-select-option value="MT">Mato Grosso</ion-select-option>
                      <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
                      <ion-select-option value="MG">Minas Gerais</ion-select-option>
                      <ion-select-option value="PA">Pará</ion-select-option>
                      <ion-select-option value="PB">Paraíba</ion-select-option>
                      <ion-select-option value="PR">Paraná</ion-select-option>
                      <ion-select-option value="PE">Pernambuco</ion-select-option>
                      <ion-select-option value="PI">Piauí</ion-select-option>
                      <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
                      <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
                      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
                      <ion-select-option value="RO">Rondônia</ion-select-option>
                      <ion-select-option value="RR">Roraima</ion-select-option>
                      <ion-select-option value="SC">Santa Catarina</ion-select-option>
                      <ion-select-option value="SP">São Paulo</ion-select-option>
                      <ion-select-option value="SE">Sergipe</ion-select-option>
                      <ion-select-option value="TO">Tocantins</ion-select-option>
                    </ion-select>

                    <ion-label position="stacked"> Cidade 
                    </ion-label>
                    <ion-select [(ngModel)]="endereco.cidade" placeholder="Cidade">
                    <ion-select-option value="BH">Belo Horizonte</ion-select-option>
                    <ion-select-option value="Dores">Dores do indai </ion-select-option>
                    </ion-select>

                    
                    <ion-label position="stacked"> País </ion-label>
                    <ion-select [(ngModel)]="endereco.pais" placeholder="País">
                    <ion-select-option value="BR">Brasil</ion-select-option>
                    </ion-select>
                    <ion-label position="stacked"> Tipo de conta </ion-label>
                    <ion-select [(ngModel)]="type">
                      <ion-select-option [value]="true">Usuário</ion-select-option>
                      <ion-select-option [value]="false">Van</ion-select-option>
                    </ion-select>

                    <div class="van" *ngIf="!type">
                      <ion-label position="stacked"> Nome da Van </ion-label>
                      <ion-input type="text" placeholder="Digite o nome da van" [(ngModel)]="van.nome"></ion-input>
                      <ion-label position="stacked"> Cnpj </ion-label>
                      <ion-input type="number" placeholder="Digite o CNPJ" [(ngModel)]="van.cnpj" appIntegerInput inputmode="numeric"></ion-input>
                      <ion-label position="stacked"> Bairro </ion-label>
                      <ion-input type="text" placeholder="Digite o bairro" [(ngModel)]="van.bairro"></ion-input>
                      <ion-label position="stacked"> Descrição </ion-label>
                      <ion-input type="text" placeholder="Digite a descricao" [(ngModel)]="van.descricao"></ion-input>
                      <ion-label position="stacked"> Foto </ion-label>
                      <ion-input type="text" placeholder="Insira url da foto(temporario)" [(ngModel)]="van.foto"></ion-input>
                    </div>
                    <ion-grid>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="12">
                            <ion-button expand="expand" color="primary" (click)="cadastrar()" [routerlink]="['/login']">Cadastrar</ion-button>
                        </ion-col>
                    </ion-row>
                    </ion-grid>
                </ion-item>
</ion-content>



